body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
    background-color: #88C5CC;
    color: #0000CD;   
    display: block;
}

.pokemonButton {
    border: 10px coral;   
}